/* * {
    padding: 0%;
    margin: 0%;
    background-color: rgba(59, 68, 126, 0);
    font-family: 'Courier New', Courier, monospace;
}

.navUl {
    display: flex;
    text-decoration: none;
    padding-top: 10px;
    background-color: rgb(19, 17, 41);
    padding-bottom: 10px;
    background-image: none;
    
}

.navLi {
    list-style: none;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}

.navAnker {
    text-decoration: none;
    text-align: left;
    text-align: left;
    background-color: rgb(19, 17, 41);
    color: white;
}

a:hover {
    color: blueviolet;
}

a:active {
    color: aqua;
} */


.navColor{
    background-color:rgb(87, 124, 163);
    color: black;
    font-weight: bold;
    
}